{% extends "payment/sub_base.html" %}
{% load static %}
{% block title %}Оплата{% endblock %}
{% block sub_content %}

    <form id="payment-form">
        <h3 class="mb-3">Информация о плательщике</h3>
        <!-- Сообщения об ошибке будут отображаться здесь -->
        <div id="card-errors" class="a" role="alert"></div>
        <div class="row g-3">
            <div class="col-sm-7">
                <label for="firstName" class="form-label">Имя клиента</label>
                <input type="text" class="form-control" id="custName" placeholder="" required>
                <div class="invalid-feedback">
                    Необходимо указать действительное имя.
                </div>
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-muted">(Опционально)</span></label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                    Введите действительный адрес электронной почты для уведомлений о доставке.
                </div>
            </div>
            <div class="col-12">
                <label for="address" class="form-label">Адрес</label>
                <input type="text" class="form-control" id="custAdd" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                    Введите ваш адрес доставки.
                </div>
            </div>
            <div class="col-12">
                <label for="address2" class="form-label">Адрес 2 <span
                        class="text-muted">(Опционально)</span></label>
                <input type="text" class="form-control" id="custAdd2" placeholder="Квартира или офис">
            </div>
            <div class="col-md-5">
                <label for="country" class="form-label">Страна</label>
                <select class="form-select" id="country" required>
                    <option value="">Выберите...</option>
                    <option>Соединенные Штаты</option>
                </select>
                <div class="invalid-feedback">
                    Пожалуйста, выберите действительную страну.
                </div>
            </div>
            <div class="col-md-4">
                <label for="state" class="form-label">Штат</label>
                <select class="form-select" id="state" required>
                    <option value="">Выберите...</option>
                    <option>Калифорния</option>
                </select>
                <div class="invalid-feedback">
                    Пожалуйста, укажите действительный штат.
                </div>
            </div>
            <div class="col-md-3">
                <label for="Postcode" class="form-label">Почтовый индекс</label>
                <input type="text" class="form-control" id="postCode" placeholder="" required>
                <div class="invalid-feedback">
                    Почтовый индекс обязателен.
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h4 class="mb-3">Оплата</h4>
        <label for="card-element">Кредитная или дебетовая карта</label>
        <div id="card-element" class="form-control form-control-payment">
            <!-- Элементы оплаты будут отображаться здесь -->
        </div>
        <hr class="my-4">
        <button id="submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}">Оплатить</button>
    </form>

    <script>
        var STRIPE_PUBLISHABLE_KEY = '{{STRIPE_PUBLISHABLE_KEY}}'
        var CSRF_TOKEN = '{{ csrf_token }}';
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'payment/index.js' %}" data-rel-js></script>

{% endblock %}
