{% extends "store/base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "account:dashboard" %}';
    </script>
{% endif %}

<form class="account-form mx-auto" method="post" action="{% url 'account:pwd_reset' %}">
    <h3 class="mb-4">Забыли пароль?</h3>
    <p>Введите ваш адрес электронной почты, чтобы получить новый пароль.</p>
    {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            Ошибка: Пожалуйста, попробуйте снова!
        </div>
    {% endif %}
    {% csrf_token %}
    <label class="small">{{ form.email.label }}</label>
    {{ form.email }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Отправить письмо">
        Отправить письмо
    </button>
    <p class="text-center"><a href="{% url "account:login" %}">Вход</a></p>
</form>

{% endblock %}
